@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --custom-gray: #333333;
  --custom-orange: #FFA500;
  --custom-dark-gray: #1C1C1C;
  --heart-color: rgb(249, 115, 22); /* Color para el corazón */
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
    --custom-gray: #222; /* Ajusta para el modo oscuro si es necesario */
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  .filter-orange {
    filter: hue-rotate(50deg) saturate(300%);
  }
  .slide-right-to-left {
    animation: slideRightToLeft 2s linear forwards; /* Animación más rápida y solo una vez */
  }
  @keyframes slideRightToLeft {
    from {
      transform: translateX(100%);
    }
    to {
      transform: translateX(-100%);
    }
  }
  .filter-cora {
    filter: sepia(1) saturate(3) hue-rotate(-30deg) brightness(0.8) contrast(1.2); /* Ajuste fino para el color deseado */
  }
}

.stroke-text {
  color: transparent;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: white;
}

.herodehero {
  position: absolute;
  width: 46rem; /* 2 veces más grande */
  z-index: 10; /* Asegúrate de que esté por debajo de fondoheroUrl */
}

.fondohero {
  position: absolute;
  width: 15rem;
  top: 10.25rem; /* 164px en rem */
  z-index: 5; /* Asegúrate de que esté por debajo de herodehero */
}

.left-h {
  position: relative;
  overflow: hidden; /* Asegúrate de que el contenido que se mueve no se desborde */
  width: 100%; /* Asegúrate de que el contenedor tenga el ancho adecuado */
  z-index: 5; /* Asegúrate de que esté por debajo de right-h */
}

.right-h {
  position: relative;
  width: 100%; /* Asegúrate de que el contenedor tenga el ancho adecuado */
  display: flex;
  justify-content: center; /* Centra horizontalmente */
  align-items: center; /* Centra verticalmente */
  z-index: 10; /* Asegúrate de que esté por encima de left-h */
}


.hero-banner {
  position: relative;
  width: 100%; /* Asegúrate de que el banner ocupe el ancho del contenedor */
}

.banner-bar {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%; /* Ancho ajustado para cubrir el contenedor */
  background-color: var(--custom-orange); /* Usando la variable de color definida */
  z-index: 10; /* Asegúrate de que esté por encima del contenido */
  animation: slideRightToLeft 2s linear forwards; /* Animación rápida y solo una vez */
}

.right-h {
  position: relative;
  width: 100%; /* Asegúrate de que el contenedor tenga el ancho adecuado */
  display: flex;
  justify-content: center; /* Centra horizontalmente */
  align-items: center; /* Centra verticalmente */
}



.heart-rate-container img {
  width: 6rem; /* Ajusta el tamaño según sea necesario */
  height: auto; /* Mantiene la proporción de aspecto */
  filter: sepia(1) saturate(3) hue-rotate(-30deg) brightness(0.8) contrast(1.2); /* Ajuste del color usando filtros */
}
.hidden-figures {
  opacity: 0; /* Hacer el elemento completamente transparente */
  visibility: hidden; /* Ocultar el elemento pero conservar su espacio */
  position: relative; /* Asegurar que el elemento conserve su espacio en el flujo del documento */
  width: 100%; /* Asegurar que el elemento conserve el ancho necesario */
}

/* En el archivo global.css o el archivo CSS correspondiente */
.heart-rate-container {
  position: relative; /* Asegúrate de que el contenedor esté posicionado */
  z-index: 20; /* Un valor mayor para que esté por encima de herodehero */
}

/* Asegúrate de que los contenedores ocupen el espacio correcto */
.left-h {
  position: relative;
  overflow: hidden;
  width: 100%;
  z-index: 5;
}

.right-h {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

/* Estilos específicos para pantallas pequeñas */
@media (max-width: 768px) {
  .hero-content {
    flex-direction: column; /* Para que left-h esté arriba y right-h abajo */
  }

  .herodehero, .fondohero {
    position: relative;
    width: 100%; /* Ajustar según el diseño deseado */
    top: auto;
    right: auto;
  }

  .hero-banner {
    /* Asegúrate de que el banner ocupe el ancho completo en dispositivos móviles */
    width: 100%;
  }
}

/* Ajustes adicionales para dispositivos más pequeños */
@media (max-width: 480px) {
  .hero-text {
    font-size: 2xl; /* Ajustar el tamaño del texto para pantallas pequeñas */
  }

  .btn {
    width: 100%; /* Botones ocupan el ancho completo en dispositivos móviles */
  }

  .right-h-content {
    padding: 2rem; /* Ajustar el padding para pantallas pequeñas */
  }

  .heart-rate-container img {
    width: 4rem; /* Ajustar el tamaño de la imagen para pantallas pequeñas */
  }
}

@media (max-width: 768px) {
  .md:hidden {
    display: block;
  }
}

@media (min-width: 769px) {
  .md:flex {
    display: flex;
  }
}

