@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --custom-gray: #333333;
  --custom-orange: #FFA500;
  --custom-light-orange: #FFECB3;
  --custom-cool-orange: #FFB347;
  --custom-dark-gray: #1C1C1C;
  --heart-color: rgb(249, 115, 22);
  --heart-border-color: #FFA500;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
    --custom-gray: #222;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  .filter-orange {
    filter: hue-rotate(50deg) saturate(300%);
  }
  .slide-right-to-left {
    animation: slideRightToLeft 2s linear forwards;
  }
  @keyframes slideRightToLeft {
    from {
      transform: translateX(100%);
    }
    to {
      transform: translateX(-100%);
    }
  }
  .filter-cora {
    filter: sepia(1) saturate(3) hue-rotate(-30deg) brightness(0.8) contrast(1.2);
  }
  .border-thick {
    border-width: 4px;
    border-color: var(--heart-border-color);
  }
  .btn-custom {
    @apply text-white bg-orange-500 flex items-center justify-center gap-2 rounded-[5px] h-10 px-4;
  }
  .toggle-checkbox:checked {
    @apply right-0;
    background-color: var(--custom-orange);
  }
  .toggle-checkbox {
    @apply absolute block w-8 h-8 rounded-full border-4 appearance-none cursor-pointer;
    background-color: var(--custom-cool-orange);
  }
  .toggle-label {
    @apply block overflow-hidden h-10 rounded-full bg-[var(--custom-light-orange)] cursor-pointer relative;
    padding: 0 2rem;
  }
  .toggle-label::before {
    content: attr(data-language);
    @apply absolute inset-0 flex items-center justify-center text-gray-700;
  }
  .toggle-label::after {
    content: attr(data-language);
    @apply absolute inset-0 flex items-center justify-center text-gray-700;
    opacity: 0;
  }
  .toggle-checkbox:checked + .toggle-label::before {
    opacity: 0;
  }
  .toggle-checkbox:checked + .toggle-label::after {
    opacity: 1;
    color: var(--custom-dark-gray);
  }
}

.stroke-text {
  color: transparent;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: white;
}

.herodehero {
  position: absolute;
  width: 46rem;
  z-index: 10;
}

.fondohero {
  position: absolute;
  width: 15rem;
  top: 10.25rem;
  z-index: 5;
}

.left-h {
  position: relative;
  overflow: hidden;
  width: 100%;
  z-index: 5;
}

.right-h {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

.hero-banner {
  position: relative;
  width: 100%;
}

.banner-bar {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: var(--custom-orange);
  z-index: 10;
  animation: slideRightToLeft 2s linear forwards;
}

.heart-rate-container img {
  width: 6rem;
  height: auto;
  filter: sepia(1) saturate(3) hue-rotate(-30deg) brightness(0.8) contrast(1.2);
  border-width: 4px;
  border-color: var(--heart-border-color);
}

.hidden-figures {
  opacity: 0;
  visibility: hidden;
  position: relative;
  width: 100%;
}

.heart-rate-container {
  position: relative;
  z-index: 20;
}

.left-h {
  position: relative;
  overflow: hidden;
  width: 100%;
  z-index: 5;
}

.right-h {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

@media (max-width: 768px) {
  .hero-content {
    flex-direction: column;
  }

  .herodehero,
  .fondohero {
    position: relative;
    width: 100%;
    top: auto;
    right: auto;
  }

  .hero-banner {
    width: 100%;
  }
}

@media (max-width: 480px) {
  .hero-text {
    font-size: 2xl;
  }

  .btn {
    width: 100%;
  }

  .right-h-content {
    padding: 2rem;
  }

  .heart-rate-container img {
    width: 4rem;
  }
}

@media (max-width: 768px) {
  .md:hidden {
    display: block;
  }
}

@media (min-width: 769px) {
  .md:flex {
    display: flex;
  }
}

@layer utilities {
  .p-custom {
    padding: 0.25rem; /* 4px */
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .herodehero {
    display: block;
    z-index: -1;
    top: 11.875rem; /* 190px convertido a rem */
    width: 100%;
    right: 0;
    left: 0;
    margin: auto;
  }
  .hero-banner {
    width: calc(100% - 2rem);
  }
  .fondohero, .contenedorcorazon {
    display: none;
  }
  .botones {
    flex-direction: row; /* Mantenemos los botones en fila */
    justify-content: center; /* Centramos los botones en tabletas */
    margin-top: 1rem; /* Añadimos un margen superior para separarlos del contenido superior */
  }
  .custom-container {
    flex-direction: row; /* Mantenemos los elementos en fila */
    justify-content: flex-end; /* Alineamos a la derecha */
    margin-right: 2rem; /* Ajustamos el margen derecho para moverlo más a la derecha */
  }
}
@media (max-width: 767px) {
  .herodehero {
    display: none;
  }
}
.texto-banner-bar-wepa {
  font-size: 0.9rem !important;
}
